<template name="searchOptions">
    <div class="btn-group">
        <button class="btn btn-default" id="filter_item_all">All</button>
        <button class="btn btn-default" id="filter_item_beer" >Beer</button>
        <button class="btn btn-default" id="filter_item_brewery">Brewery</button>
    </div>

    <div class="btn-group">
        <button class="btn btn-default" id="filter_style_all">All Styles</button>
        <button class="btn btn-default" id="filter_style_ipa">IPA</button>
        <button class="btn btn-default" id="filter_style_paleAle">Pale Ale</button>
        <button class="btn btn-default" id="filter_style_amber">Amber</button>
        <button class="btn btn-default" id="filter_style_stout">Stout</button>
        <button class="btn btn-default" id="filter_style_other">Other</button>
    </div>
</template>