<template name="modalBeer">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">{{Name}} -- {{_id}}<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-xs-4">
                    <div class="modal-well">
                        <img class="img-responsive" src="images/{{LogoImg}}.jpg">
                    </div>

                    <div class="modal-well">
                        <div class="modal-details-header">BEER STATS</div>
                        <table>
                            <tr><td>STYLE</td><td>{{Style}}</td></tr>
                            <tr><td>ABV</td><td>{{ABV}}</td></tr>
                            <tr><td>IBU</td><td>{{IBU}}</td></tr>
                            {{#if Grains}}
                            <tr><td>Grains</td><td>{{Grains}}</td></tr>
                            {{/if}}
                            {{#if Hops}}
                            <tr><td>Hops</td><td>{{Hops}}</td></tr>
                            {{/if}}
                        </table>
                    </div>
                    <div class="modal-well">
                        {{#with breweryInfo}}
                            <div class="modal-details-header" id="breweryName">{{Name}}</div>
                            <div>{{AddressCity}}</div>
                        {{/with}}
                    </div>
                </div>
                <div class="col-xs-8">
                    <div class="modal-well">
                        <div class="modal-details-header">BEER DESCRIPTION</div>
                        <div>{{Description}}</div>
                    </div>
                    <div class="modal-well">
                        <div class="modal-details-header">WHO LIKES THIS BEER?</div>
                        {{> likesPanel}}
                    </div>
                    <div class="modal-well">
                        <div class="modal-details-header">BEER DISCUSSION</div>
                        <div>
                            {{> commentsPanel}}
                        </div>
                    </div>
                    <button type="button" class="btn btn-default pull-right" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</template>